@font-face {
  font-family: "iconfont"; /* Project id 3806353 */
  src: url('iconfont.woff2?t=1670041363928') format('woff2'),
       url('iconfont.woff?t=1670041363928') format('woff'),
       url('iconfont.ttf?t=1670041363928') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: "\e67e";
}

.icon-huiyuan1:before {
  content: "\e696";
}

.icon-wode:before {
  content: "\e8bb";
}

